<article class="blog-post">
    <h2 class="display-5 link-body-emphasis mb-1"><%= blogTitle %></h2>
    <p class="blog-post-meta"><%= blogUpdateTime %></p>

    <p>This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.</p>
    <hr>
</article>