<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="http://localhost:3000" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4"><img src="/images/Logo.png" height="50" width="50"></span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="http://localhost:3000/addBlog" class="nav-link active" aria-current="page">Add Blog</a></li>
      </ul>
    </header>
</div>